body {
	text-align: center;
	font-family: "Quicksand", sans-serif;
}

.textdiv {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: mistyrose;
}

h1 {
	font-family: 'Kanit', sans-serif;
}

.song {
	background-image: url("https://images.pexels.com/photos/1023953/pexels-photo-1023953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}